<!DOCTYPE HTML>
<html>
<head>
<title>{{ article.title }}</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="keywords" content="个人博客,陈政伟个人博客,个人博客系统,陈政伟">
<meta name="description" content="陈政伟个人博客 — 一个Python后台开发兼爬虫个人博客网站。">
<LINK rel="Bookmark" href="/static/img/favicon.ico" >
<LINK rel="Shortcut Icon" href="/static/img/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/staticRes/js/html5shiv.js"></script>
<script type="text/javascript" src="/staticRes/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
<link rel="stylesheet" type="text/css" href="/static/plugin/pifu/pifu.css" />
<link rel="stylesheet" type="text/css" href="/static/plugin/wangEditor/css/wangEditor.min.css">
<!--[if lt IE 9]>
<link href="/staticRes/lib/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container cl">
            <a class="navbar-logo hidden-xs" href="{% url 'index' %}">
                <img class="logo" src="/static/img/logo3.jpg" alt="行走的技术鬼" />
            </a>
            <a class="logo navbar-logo-m visible-xs" href="{% url 'index' %}">行走的技术鬼</a>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:void(0);" onclick="showSide();">&#xe667;</a>
            <nav class="nav navbar-nav nav-collapse w_menu" role="navigation">
                <ul class="cl">
                    <li > <a href="{% url 'index' %}" data-hover="首页">首页</a> </li>
                    <li> <a href="{% url 'about' %}" data-hover="关于我">关于我</a> </li>
                    <li> <a href="{% url 'sanyan' %}" data-hover="三言两语">三言两语</a> </li>
                    <li class="active"><a href="{% url 'article:article_type' '1' %}" data-hover="学无止尽">学无止尽</a></li>

                </ul>
            </nav>
           {% if request.user.is_authenticated %}
                 <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">


                    <!--
                    	作者：offline
                    	时间：2017-11-16
                    	描述：登录后进入
                    	-->

                    <li class="userInfo dropDown dropDown_hover">

                            <a href="javascript:;" ><img class="avatar radius" src="{{ request.user.img }}" alt="头像 "></a>
                            <ul class="dropDown-menu menu radius box-shadow">
                                <li><a href="{% url 'userinfo:userinfo' %}">{{ request.user.username }}</a></li>
                                <li><a href="{% url 'logout' %}">退出</a></li>
                            </ul>


                    </li>

                </ul>
            </nav>
            {% else %}
                <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">

                	<li> <a href="{% url 'login' %}" data-hover="登录">登录</a> </li>
                </ul>
            </nav>
            {% endif %}

        </div>
    </div>
</header>
<!--导航条-->
<nav class="breadcrumb">
  <div class="container"> <i class="Hui-iconfont">&#xe67f;</i> <a href="{% url 'index' %}" class="c-primary">首页</a> <span class="c-gray en">&gt;</span>  <span class="c-gray">{{ article.get_type_display }}</span> <span class="c-gray en">&gt;</span>  <span class="c-gray">{{ article.title }}</span></div>
</nav>

<section class="container pt-20">
	
	<div class="row w_main_row">
				
				
				<div class="col-lg-9 col-md-9 w_main_left">
					<div class="panel panel-default  mb-20">
						<div class="panel-body pt-10 pb-10">
							<h2 class="c_titile">{{ article.title }}</h2>
							<p class="box_c"><span class="d_time">发布时间：{{ article.add_time }}</span><span>编辑：<a href="{% url 'about' %}">{{ article.name }}</a></span><span>阅读（{{ article.click_nums }}）</span></p>
							<ul class="infos">
								     {% autoescape off %}{{ article.content }}{% endautoescape %}
								
							</ul>
															
							<div class="keybq">
						    	<p><span>关键字</span>：<a class="label label-default">{{ article.get_type_display }}</a></p>
						    </div>
							
							
							

							
						</div>
					</div>
					
					<div class="panel panel-default  mb-20">
						<div class="tab-category">
                <a href=""><strong>评论区</strong></a>
            </div>
						<div class="panel-body">
							<div class="panel-body" style="margin: 0 3%;">
                    <div class="mb-20">
                    	<ul class="commentList">
                            {% for comment in all_comments %}
                            <li class="item cl"> <i class="avatar size-L radius"><img alt="" src="{{ comment.user.img }}"></i>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">{{ comment.user }}</a>
                                            <time title="{{ comment.add_time }}" datetime="{{ comment.add_time }}" class="f-r">{{ comment.add_time }}</time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p> {% autoescape off %}{{ comment.comments }}{% endautoescape %}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}


                        </ul>
    
                    </div>
                    <div class="line"></div>
                    <!--用于评论-->
                    <div class="mt-20" id="ct">
                        <div id="err" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
                        <textarea id="textarea1" name="comment" style="height:200px;" placeholder="看完不留一发？"> </textarea>
                        <div class="text-r mt-10">
                            <button onclick="getPlainTxt()" class="btn btn-primary radius"> 发表评论</button>
                        </div>
                    </div>
                    <!--用于回复-->
                    <div class="comment hidden mt-20">
                        <div id="err2" class="Huialert Huialert-danger hidden radius">成功状态提示</div>
                            <textarea class="textarea" style="height:100px;" > </textarea>
                            <button onclick="hf(this);" type="button" class="btn btn-primary radius mt-10">回复</button>
                            <a class="cancelReply f-r mt-10">取消回复</a>
                    </div>

                </div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3">
					<!--热门推荐-->
  	<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>热门推荐</strong></a>
			</div>
			<div class="tab-category-item">
				<ul class="index_recd">
                    {% for hot in hot_article %}
					<li>
						<a href="{% url 'article:article_detail' hot.type_id hot.id %}">{{ hot.title }}</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe622;</i> {{ hot.click_nums }} </p>
					</li>
                    {% endfor %}

				</ul>
			</div>
		</div>
						
					<!--图片-->
		<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>扫我关注</strong></a>
			</div>
			<div class="tab-category-item">
				<img data-original="/static/img/temp/weixin.jpg" class="img-responsive lazyload" alt="响应式图片">
			</div>
		</div>
					
				</div>
			</div>
	
</section>
<footer class="footer mt-20">
    <p>DesignerBy:陈政伟</p>
</footer>
<script type="text/javascript" src="/static/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="/static/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script type="text/javascript" src="/static/plugin/wangEditor/js/wangEditor.min.js"></script>
<script type="text/javascript">
    $(function () {
    		$("img.lazyload").lazyload({failurelimit : 3});
    	
        wangEditor.config.printLog = false;
        var editor1 = new wangEditor('textarea1');
        editor1.config.menus = ['insertcode', 'quote', 'bold', '|', 'img', 'emotion', '|', 'undo', 'fullscreen'];
        editor1.config.emotions = { 'default': { title: '表情', data: '/static/plugin/wangEditor/emotions1.data'}, 'default2': { title: '心情', data: '/static/plugin/wangEditor/emotions3.data'}, 'default3': { title: '顶一顶', data: '/static/plugin/wangEditor/emotions2.data'}};
        editor1.create();



        //show reply
        $(".hf").click(function () {
            pId = $(this).attr("name");
            $(this).parents(".commentList").find(".cancelReply").trigger("click");
            $(this).parent(".comment-body").append($(".comment").clone(true));
            $(this).parent(".comment-body").find(".comment").removeClass("hidden");
            $(this).hide();
        });
        //cancel reply
        $(".cancelReply").on('click',function () {
            $(this).parents(".comment-body").find(".hf").show();
            $(this).parents(".comment-body").find(".comment").remove();
        });
    });

    //reply
    function getPlainTxt() {
        var comments = $('#textarea1').val();
        if (comments == ' '){
            alert("评论不能为空")
            return
        }

          $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'article:add_comment' %}",
            data:{'article_id':{{ article.id }},'comments':comments},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data.msg == '用户未登录'){
                        window.location.href="/login/";
                    }else{
                        alert(data.msg);
                    }

                }else if(data.status == 'success'){
                    window.location.reload();//刷新当前页面.
                }
            },
        });

    };


</script>
</body>
</html>
