<!DOCTYPE HTML>
<html>
<head>
<title>陈政伟个人博客 — 一个Python后台开发兼爬虫个人博客网站</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="keywords" content="个人博客,陈政伟个人博客,个人博客系统,陈政伟">
<meta name="description" content="陈政伟个人博客 — 一个Python后台开发兼爬虫个人博客网站。">
<LINK rel="Bookmark" href="/static/img/favicon.ico" >
<LINK rel="Shortcut Icon" href="/static/img/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="/staticRes/js/html5shiv.js"></script>
<script type="text/javascript" src="/staticRes/js/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/plugin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/plugin/Hui-iconfont/1.0.8/iconfont.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
<link rel="stylesheet" type="text/css" href="/static/plugin/pifu/pifu.css" />
<!--[if lt IE 9]>
<link href="/staticRes/lib/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } function showSide(){$('.navbar-nav').toggle();}</script>
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container cl">
            <a class="navbar-logo hidden-xs" href="{% url 'index' %}">
                <img class="logo" src="/static/img/logo3.jpg" alt="行走的技术鬼" />
            </a>
            <a class="logo navbar-logo-m visible-xs" href="{% url 'index' %}">行走的技术鬼</a>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:void(0);" onclick="showSide();">&#xe667;</a>
            <nav class="nav navbar-nav nav-collapse w_menu" role="navigation">
                <ul class="cl">
                    <li > <a href="{% url 'index' %}" data-hover="首页">首页</a> </li>
                    <li> <a href="{% url 'about' %}" data-hover="关于我">关于我</a> </li>
                    <li> <a href="{% url 'sanyan' %}" data-hover="三言两语">三言两语</a> </li>
                    <li class="active"><a href="{% url 'article:article_type' '1' %}" data-hover="学无止尽">学无止尽</a></li>

                </ul>
            </nav>
            {% if request.user.is_authenticated %}
                 <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">


                    <!--
                    	作者：offline
                    	时间：2017-11-16
                    	描述：登录后进入
                    	-->

                    <li class="userInfo dropDown dropDown_hover">

                            <a href="javascript:;" ><img class="avatar radius" src="{{ request.user.img }}" alt="头像 "></a>
                            <ul class="dropDown-menu menu radius box-shadow">
                                <li><a href="{% url 'userinfo:userinfo' %}">{{ request.user.username }}</a></li>
                                <li><a href="{% url 'logout' %}">退出</a></li>
                            </ul>


                    </li>

                </ul>
            </nav>
            {% else %}
                <nav class="navbar-nav navbar-userbar hidden-xs hidden-sm " style="top: 0;">
                <ul class="cl">

                	<li> <a href="{% url 'login' %}" data-hover="登录">登录</a> </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</header>

<!--导航条-->
<nav class="breadcrumb">
    <div class="container">
        <i class="Hui-iconfont">&#xe67f;</i><a href="{% url 'index' %}" class="c-primary">首页</a>
        <span class="c-gray en">&gt;</span> <a href="{% url 'article:article_type' '1' %}" class="c-primary">学无止尽</a>
        <span class="c-gray en">&gt;</span> <span class="c-gray"><i class="Hui-iconfont">&#xe64b;</i>{{ current }}</span>
    </div>
</nav>

<section class="container">
  <!--left-->
  <div class="col-sm-9 col-md-9 mt-20">
  	
  		
  	<!--article list-->
			<ul class="index_arc">
                {% for article in all_article %}
				<li class="index_arc_item no_pic">

					<h4 class="title"><a href="{% url 'article:article_detail' article.type_id article.id %}">{{ article.title }}</a></h4>
					<div class="date_hits">
						<span>{{ article.name }}</span>
						<span>{{ article.add_time }}</span>
						<span><a href="{% url 'article:article_detail' article.type_id article.id %}">{{ article.get_type_display }}</a></span>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> {{ article.click_nums }}° </p>
						<p class="commonts"><i class="Hui-iconfont" title="点击量">&#xe622;</i> <span class="cy_cmt_count">{{ article.get_comments_nums }}</span></p>
					</div>
					<div class="desc">{{ article.content|truncatechars:100|safe }}</div>
				</li>
                {% endfor %}
				

          
				</ul>

  </div>
  
  <!--right-->
  <div class="col-sm-3 col-md-3 mt-20">
  	
  	<!--导航-->
  	<div class="panel panel-primary mb-20">
			<div class="panel-body">
				<a href="{% url 'article:article_type' '1' %}"><input class="btn {% if current == 'Python' %}btn-primary{% else %}btn-primary-outline{% endif %} radius nav-btn" type="button" value="Python"></a>
				<a href="{% url 'article:article_type' '2' %}"><input class="btn {% if current == 'Django' %}btn-primary{% else %}btn-primary-outline{% endif %} radius nav-btn" type="button" value="Django"></a>
				<a href="{% url 'article:article_type' '3' %}"><input class="btn {% if current == '爬虫' %}btn-primary{% else %}btn-primary-outline{% endif %} radius nav-btn" type="button" value="爬虫"></a>
				<a href="{% url 'article:article_type' '4' %}"><input class="btn {% if current == 'Tornado' %}btn-primary{% else %}btn-primary-outline{% endif %} radius nav-btn" type="button" value="Tornado"></a>
				<a href="{% url 'article:article_type' '5' %}"><input class="btn {% if current == 'Flask' %}btn-primary{% else %}btn-primary-outline{% endif %} radius nav-btn" type="button" value="Flask"></a>
				<a href="{% url 'article:article_type' '6' %}"><input class="btn {% if current == 'AI' %}btn-primary{% else %}btn-primary-outline{% endif %} radius nav-btn" type="button" value="AI"></a>
				<a href="{% url 'article:article_type' '7' %}"><input class="btn {% if current == '数据库' %}btn-primary{% else %}btn-primary-outline{% endif %} radius nav-btn" type="button" value="数据库"></a>
				<a href="{% url 'article:article_type' '8' %}"><input class="btn {% if current == '其他' %}btn-primary{% else %}btn-primary-outline{% endif %} radius nav-btn" type="button" value="其他"></a>

			</div>
		</div>
  	
  	<!--热门推荐-->
  	<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>热门推荐</strong></a>
			</div>
			<div class="tab-category-item">
				<ul class="index_recd">
                    {% for hot in hot_article %}
					<li>
						<a href="{% url 'article:article_detail' hot.type_id hot.id %}">{{ hot.title }}</a>
						<p class="hits"><i class="Hui-iconfont" title="点击量">&#xe6c1;</i> {{ hot.click_nums }}° </p>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	
<!--标签-->
		<div class="bg-fff box-shadow radius mb-20">
			<div class="tab-category">
				<a href=""><strong>标签云</strong></a>
			</div>
			<div class="tab-category-item">
				<div class="tags"> <a href="http://www.h-ui.net/">H-ui前端框架</a> <a href="http://www.h-ui.net/websafecolors.shtml">Web安全色</a> <a href="http://www.h-ui.net/Hui-4.4-Unslider.shtml">jQuery轮播插件</a> <a href="http://idc.likejianzhan.com/vhost/korea_hosting.php">韩国云虚拟主机</a> <a href="http://www.h-ui.net/bug.shtml">IEbug</a> <a href="http://www.h-ui.net/site.shtml">IT网址导航</a> <a href="http://www.h-ui.net/icon/index.shtml">网站常用小图标</a> <a href="http://www.h-ui.net/tools/jsformat.shtml">web工具箱</a> <a href="http://www.h-ui.net/bg/index.shtml">网站常用背景素材</a> <a href="http://www.h-ui.net/yuedu/chm.shtml">H-ui阅读</a> <a href="http://www.h-ui.net/easydialog-v2.0/index.html">弹出层插件</a> <a href="http://www.h-ui.net/SuperSlide2.1/demo.html">SuperSlide插件</a> <a href="http://www.h-ui.net/TouchSlide1.1/demo.html">TouchSlide</a></div>
			</div>
		</div>
  </div>
  
</section>
<footer class="footer mt-20">
    <div class="container-fluid" id="foot">
        <p>DesignerBy:陈政伟 <br>
    </div>
</footer>
<script type="text/javascript" src="/static/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="/static/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
<script>
$(function(){
//标签
	$(".tags a").each(function(){
		var x = 9;
		var y = 0;
		var rand = parseInt(Math.random() * (x - y + 1) + y);
		$(this).addClass("tags"+rand)
	});
	
	$("img.lazyload").lazyload({failurelimit : 3});
});

</script> 
</body>
</html>
